In [1]:
# 라이브러리import
import os
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import random
%matplotlib inline

# 데이터셋 전처리

## Train Set

In [2]:
# 이상 클래스 3번 데이터셋의 주소
linklist=['WELL-00001_20170320130025.csv',
'WELL-00014_20170917150000.csv',
'WELL-00014_20170917200000.csv',
'WELL-00014_20170918020114.csv',
'WELL-00014_20170918070135.csv',
'WELL-00014_20170918120103.csv',
'WELL-00014_20170919210016.csv',
'WELL-00014_20170920010042.csv',
'WELL-00014_20170920060228.csv',
'WELL-00014_20170920110053.csv',
'WELL-00014_20170920190207.csv',
'WELL-00014_20170921000053.csv',
'WELL-00014_20170921050404.csv',
'WELL-00014_20170921100155.csv',
'WELL-00014_20170921150042.csv',
'WELL-00014_20170921200114.csv',
'WELL-00014_20170922010042.csv',
'WELL-00014_20170922060124.csv',
'WELL-00014_20170922110042.csv',
'WELL-00014_20170922160249.csv',
'WELL-00014_20170925010031.csv',
'WELL-00014_20170925060042.csv',
'WELL-00014_20170925110124.csv',
'WELL-00014_20170925160218.csv',
'WELL-00014_20170925210042.csv',
'WELL-00014_20170926020340.csv',
'WELL-00014_20170926070042.csv',
'WELL-00014_20170926120103.csv',
'WELL-00014_20170926170228.csv',
'WELL-00014_20171028080000.csv',
'WELL-00014_20171028130000.csv',
'WELL-00014_20171028180038.csv']

In [3]:
#데이터셋 모두 데이터프레임으로 변환 후 리스트에 담기
dflist=[]
for i in linklist:
  d = pd.read_csv('https://raw.githubusercontent.com/petrobras/3W/main/dataset/3/'+i)
  dflist.append(d)

dflist

[                        timestamp  P-PDG       P-TPT     T-TPT  P-MON-CKP  \
 0      2017-03-20 13:00:25.000000    0.0  14071870.0  117.1827  6085929.0
 1      2017-03-20 13:00:26.000000    0.0  14072180.0  117.1828  6087002.0
 2      2017-03-20 13:00:27.000000    0.0  14072490.0  117.1829  6088075.0
 3      2017-03-20 13:00:28.000000    0.0  14072800.0  117.1830  6089148.0
 4      2017-03-20 13:00:29.000000    0.0  14073110.0  117.1831  6090221.0
 ...                           ...    ...         ...       ...        ...
 17971  2017-03-20 17:59:56.000000    0.0  14055950.0  116.8203  6025813.0
 17972  2017-03-20 17:59:57.000000    0.0  14055620.0  116.8200  6025539.0
 17973  2017-03-20 17:59:58.000000    0.0  14055290.0  116.8197  6025265.0
 17974  2017-03-20 17:59:59.000000    0.0  14054970.0  116.8194  6024990.0
 17975  2017-03-20 18:00:00.000000    0.0  14054640.0  116.8192  6024716.0

        T-JUS-CKP  P-JUS-CKGL  T-JUS-CKGL  QGL  class
 0       69.02943   3245327.0         NaN  0.0      3
 1       69.03323   3245327.0         NaN  0.0      3
 2       69.03702   3245327.0         NaN  0.0      3
 3       69.04082   3245327.0         NaN  0.0      3
 4       69.04462   3245327.0         NaN  0.0      3
 ...          ...         ...         ...  ...    ...
 17971   70.36837   3246232.0         NaN  0.0      3
 17972   70.36488   3246232.0         NaN  0.0      3
 17973   70.36140   3246232.0         NaN  0.0      3
 17974   70.35791   3246232.0         NaN  0.0      3
 17975   70.35443   3246232.0         NaN  0.0      3

 [17976 rows x 10 columns],
                         timestamp       P-PDG       P-TPT     T-TPT  \
 0      2017-09-17 15:00:00.000000  23329590.0  13445530.0  57.04935
 1      2017-09-17 15:00:01.000000  23329730.0  13445580.0  57.04918
 2      2017-09-17 15:00:02.000000  23329860.0  13445620.0  57.04901
 3      2017-09-17 15:00:03.000000  23330000.0  13445670.0  57.04884
 4      2017-09-17 15:00:04.000000  23329980.0  13445310.0  57.04804
 ...                           ...         ...         ...       ...
 17771  2017-09-17 19:56:11.000000  23525310.0  13954990.0  56.54493
 17772  2017-09-17 19:56:12.000000  23525260.0  13955230.0  56.54481
 17773  2017-09-17 19:56:13.000000  23525200.0  13955470.0  56.54469
 17774  2017-09-17 19:56:14.000000  23525150.0  13955710.0  56.54458
 17775  2017-09-17 19:56:15.000000  23525100.0  13955950.0  56.54446

        P-MON-CKP  T-JUS-CKP  P-JUS-CKGL  T-JUS-CKGL       QGL  class
 0      2210575.0   37.78826  19053310.0         NaN  1.750604      3
 1      2211325.0   37.78814  19055130.0         NaN  1.770799      3
 2      2212075.0   37.78801  19056950.0         NaN  1.790995      3
 3      2212825.0   37.78788  19058770.0         NaN  1.811191      3
 4      2213575.0   37.78776  19060590.0         NaN  1.831386      3
 ...          ...        ...         ...         ...       ...    ...
 17771  1893704.0   38.29067  19560470.0         NaN  1.265560      3
 17772  1894765.0   38.29134  19561440.0         NaN  1.278254      3
 17773  1895825.0   38.29200  19562410.0         NaN  1.290949      3
 17774  1896431.0   38.29267  19563380.0         NaN  1.303643      3
 17775  1897037.0   38.29333  19564350.0         NaN  1.316338      3

 [17776 rows x 10 columns],
                         timestamp       P-PDG       P-TPT     T-TPT  \
 0      2017-09-17 20:00:00.000000  23527320.0  13962440.0  56.50709
 1      2017-09-17 20:00:01.000000  23527220.0  13961960.0  56.50718
 2      2017-09-17 20:00:02.000000  23527810.0  13961980.0  56.50709
 3      2017-09-17 20:00:03.000000  23528390.0  13962000.0  56.50700
 4      2017-09-17 20:00:04.000000  23528050.0  13962270.0  56.50690
 ...                           ...         ...         ...       ...
 17957  2017-09-18 00:59:17.000000  24191940.0  15765500.0  45.68655
 17958  2017-09-18 00:59:18.000000  24192670.0  15766380.0  45.70461
 17959  2017-09-18 00:59:19.000000  24193400.0  15767270.0  45.72266
 17960  2017-09-18 00:59:20.000000  24193190.0  15767470.0  45.72633
 17961  2017-09-18 00:59:21.000000  24192970.0  15767680.0  45.72999

        P-MON-CKP  T-JUS-CKP  P-JUS-CKGL  T-JUS-CKGL       QGL  class
 0      1944310.0   38.33400  19491010.0         NaN  1.040066      3
 1      1944689.0   38.33402  19490770.0         NaN  1.029111      3
 2      1945068.0   38.33404  19490530.0         NaN  1.018155      3
 3      1945446.0   38.33407  19490290.0         NaN  1.007199      3
 4      1945825.0   38.33409  19490040.0         NaN  0.996243      3
 ...          ...        ...         ...         ...       ...    ...
 17957  1129084.0   36.68991  18956470.0         NaN  1.341071      3
 17958  1128174.0   36.68958  18957560.0         NaN  1.365402      3
 17959  1127265.0   36.68926  18958650.0         NaN  1.354452      3
 17960  1126356.0   36.68894  18958770.0         NaN  1.343501      3
 17961  1125447.0   36.68862  18958890.0         NaN  1.332551      3

 [17962 rows x 10 columns],
                         timestamp       P-PDG       P-TPT     T-TPT  \
 0      2017-09-18 02:01:14.000000  24153930.0  15461040.0  48.40787
 1      2017-09-18 02:01:15.000000  24154050.0  15461460.0  48.40562
 2      2017-09-18 02:01:16.000000  24154150.0  15461880.0  48.40337
 3      2017-09-18 02:01:17.000000  24154240.0  15462300.0  48.40113
 4      2017-09-18 02:01:18.000000  24154340.0  15462800.0  48.39690
 ...                           ...         ...         ...       ...
 17922  2017-09-18 06:59:56.000000  24201390.0  14934310.0  52.01305
 17923  2017-09-18 06:59:57.000000  24201650.0  14935360.0  52.00119
 17924  2017-09-18 06:59:58.000000  24202180.0  14936180.0  51.97775
 17925  2017-09-18 06:59:59.000000  24202710.0  14936990.0  51.95429
 17926  2017-09-18 07:00:00.000000  24202770.0  14937880.0  51.94243

        P-MON-CKP  T-JUS-CKP  P-JUS-CKGL  T-JUS-CKGL       QGL  class
 0      1307492.0   35.56656  18861440.0         NaN  0.448643      3
 1      1307189.0   35.56577  18860950.0         NaN  0.438071      3
 2      1306886.0   35.56498  18860470.0         NaN  0.427499      3
 3      1306583.0   35.56419  18859980.0         NaN  0.433449      3
 4      1306280.0   35.56340  18860220.0         NaN  0.439399      3
 ...          ...        ...         ...         ...       ...    ...
 17922  1887871.0   24.37696  18725320.0         NaN  1.107622      3
 17923  1886886.0   24.38357  18725440.0         NaN  1.103462      3
 17924  1885901.0   24.39019  18725560.0         NaN  1.099301      3
 17925  1884916.0   24.39680  18725680.0         NaN  1.095140      3
 17926  1883931.0   24.40342  18725800.0         NaN  1.090979      3

 [17927 rows x 10 columns],
                         timestamp       P-PDG       P-TPT     T-TPT  \
 0      2017-09-18 07:01:35.000000  24216180.0  14999240.0  50.79725
 1      2017-09-18 07:01:36.000000  24216630.0  15000070.0  50.78597
 2      2017-09-18 07:01:37.000000  24217080.0  15000900.0  50.77469
 3      2017-09-18 07:01:38.000000  24217250.0  15001720.0  50.76347
 4      2017-09-18 07:01:39.000000  24217410.0  15002530.0  50.75224
 ...                           ...         ...         ...       ...
 17901  2017-09-18 11:59:56.000000  24086020.0  14783370.0  55.25800
 17902  2017-09-18 11:59:57.000000  24086080.0  14784290.0  55.25346
 17903  2017-09-18 11:59:58.000000  24086130.0  14785210.0  55.24893
 17904  2017-09-18 11:59:59.000000  24086620.0  14787830.0  55.24023
 17905  2017-09-18 12:00:00.000000  24087100.0  14790440.0  55.23152

        P-MON-CKP  T-JUS-CKP  P-JUS-CKGL  T-JUS-CKGL       QGL  class
 0      1786886.0   24.92106  18670650.0         NaN  0.430159      3
 1      1786128.0   24.92385  18670040.0         NaN  0.387143      3
 2      1785371.0   24.92665  18669440.0         NaN  0.344127      3
 3      1784613.0   24.92944  18668830.0         NaN  0.301111      3
 4      1783856.0   24.93224  18668220.0         NaN  0.258095      3
 ...          ...        ...         ...         ...       ...    ...
 17901  1384765.0   25.24965  19671260.0         NaN  1.261325      3
 17902  1384614.0   25.25207  19669680.0         NaN  1.251931      3
 17903  1384462.0   25.25448  19668100.0         NaN  1.242538      3
 17904  1384311.0   25.25690  19666530.0         NaN  1.233144      3
 17905  1384159.0   25.25932  19664950.0         NaN  1.223750      3

 [17906 rows x 10 columns],
                         timestamp       P-PDG       P-TPT     T-TPT  \
 0      2017-09-18 12:01:03.000000  24115950.0  14860340.0  54.92375
 1      2017-09-18 12:01:04.000000  24116570.0  14861560.0  54.91988
 2      2017-09-18 12:01:05.000000  24117190.0  14862510.0  54.91596
 3      2017-09-18 12:01:06.000000  24117810.0  14863470.0  54.91204
 4      2017-09-18 12:01:07.000000  24117810.0  14864270.0  54.90822
 ...                           ...         ...         ...       ...
 17933  2017-09-18 16:59:56.000000  24382280.0  15822940.0  43.76776
 17934  2017-09-18 16:59:57.000000  24382430.0  15824130.0  43.76411
 17935  2017-09-18 16:59:58.000000  24382590.0  15825330.0  43.76047
 17936  2017-09-18 16:59:59.000000  24382970.0  15826210.0  43.75724
 17937  2017-09-18 17:00:00.000000  24383360.0  15827100.0  43.75402

        P-MON-CKP  T-JUS-CKP  P-JUS-CKGL  T-JUS-CKGL       QGL  class
 0      1359159.0   25.41169  19670290.0         NaN  1.252019      3
 1      1358326.0   25.41410  19670530.0         NaN  1.249556      3
 2      1357492.0   25.41652  19670770.0         NaN  1.247093      3
 3      1356659.0   25.41894  19671010.0         NaN  1.244630      3
 4      1356735.0   25.42136  19671250.0         NaN  1.242166      3
 ...          ...        ...         ...         ...       ...    ...
 17933  1198326.0   27.33628  19910410.0         NaN  1.338670      3
 17934  1198705.0   27.33604  19911130.0         NaN  1.334841      3
 17935  1199083.0   27.33581  19911860.0         NaN  1.331013      3
 17936  1199462.0   27.33557  19912590.0         NaN  1.331354      3
 17937  1199841.0   27.33533  19913310.0         NaN  1.331695      3

 [17938 rows x 10 columns],
                         timestamp       P-PDG       P-TPT     T-TPT  \
 0      2017-09-19 21:00:16.000000  24513620.0  16893360.0  44.72708
 1      2017-09-19 21:00:17.000000  24513700.0  16893170.0  44.72649
 2      2017-09-19 21:00:18.000000  24513770.0  16893650.0  44.72628
 3      2017-09-19 21:00:19.000000  24513850.0  16894130.0  44.72608
 4      2017-09-19 21:00:20.000000  24513750.0  16894270.0  44.72656
 ...                           ...         ...         ...       ...
 14380  2017-09-20 00:59:56.000000  24390590.0  15731680.0  47.44937
 14381  2017-09-20 00:59:57.000000  24390480.0  15733830.0  47.41394
 14382  2017-09-20 00:59:58.000000  24390230.0  15734570.0  47.39555
 14383  2017-09-20 00:59:59.000000  24389970.0  15735310.0  47.37715
 14384  2017-09-20 01:00:00.000000  24390890.0  15736220.0  47.35880

        P-MON-CKP  T-JUS-CKP  P-JUS-CKGL  T-JUS-CKGL       QGL  class
 0      1322720.0   22.23953  19658650.0         NaN  1.391841      3
 1      1323629.0   22.24283  19657680.0         NaN  1.397612      3
 2      1324538.0   22.24612  19656710.0         NaN  1.403383      3
 3      1325447.0   22.24942  19655740.0         NaN  1.409154      3
 4      1326356.0   22.25272  19654770.0         NaN  1.414925      3
 ...          ...        ...         ...         ...       ...    ...
 14380  1383401.0   28.07145  19643860.0         NaN  1.229759      3
 14381  1382720.0   28.07190  19644710.0         NaN  1.258296      3
 14382  1382038.0   28.07235  19645560.0         NaN  1.286833      3
 14383  1381356.0   28.07279  19646410.0         NaN  1.315370      3
 14384  1380674.0   28.07324  19647250.0         NaN  1.343907      3

 [14385 rows x 10 columns],
                         timestamp       P-PDG       P-TPT     T-TPT  \
 0      2017-09-20 01:00:42.000000  24396570.0  15763660.0  46.66489
 1      2017-09-20 01:00:43.000000  24396410.0  15764460.0  46.64458
 2      2017-09-20 01:00:44.000000  24396610.0  15764790.0  46.61958
 3      2017-09-20 01:00:45.000000  24396810.0  15765130.0  46.59457
 4      2017-09-20 01:00:46.000000  24397000.0  15765470.0  46.56956
 ...                           ...         ...         ...       ...
 17954  2017-09-20 05:59:56.000000  23801860.0  14126730.0  56.25372
 17955  2017-09-20 05:59:57.000000  23803440.0  14129430.0  56.25317
 17956  2017-09-20 05:59:58.000000  23804930.0  14132810.0  56.25262
 17957  2017-09-20 05:59:59.000000  23806430.0  14136190.0  56.25208
 17958  2017-09-20 06:00:00.000000  23808050.0  14137570.0  56.25177

        P-MON-CKP  T-JUS-CKP  P-JUS-CKGL  T-JUS-CKGL       QGL  class
 0      1399083.0   28.09198  19627010.0         NaN  0.940321      3
 1      1400220.0   28.09243  19627620.0         NaN  0.914132      3
 2      1401356.0   28.09287  19628220.0         NaN  0.887944      3
 3      1402492.0   28.09332  19628830.0         NaN  0.861755      3
 4      1400977.0   28.09377  19629440.0         NaN  0.835566      3
 ...          ...        ...         ...         ...       ...    ...
 17954  1175674.0   18.70539  20093190.0         NaN  1.119201      3
 17955  1175826.0   18.71043  20092220.0         NaN  1.103810      3
 17956  1175599.0   18.71548  20091250.0         NaN  1.088419      3
 17957  1175371.0   18.72052  20090280.0         NaN  1.073028      3
 17958  1175144.0   18.72556  20089310.0         NaN  1.063994      3

 [17959 rows x 10 columns],
                         timestamp       P-PDG       P-TPT     T-TPT  \
 0      2017-09-20 06:02:28.000000  24037760.0  14563290.0  56.16745
 1      2017-09-20 06:02:29.000000  24038310.0  14565610.0  56.16546
 2      2017-09-20 06:02:30.000000  24040010.0  14569010.0  56.16249
 3      2017-09-20 06:02:31.000000  24041710.0  14572400.0  56.15953
 4      2017-09-20 06:02:32.000000  24043060.0  14574370.0  56.15736
 ...                           ...         ...         ...       ...
 17848  2017-09-20 10:59:56.000000  24313150.0  15955530.0  43.99327
 17849  2017-09-20 10:59:57.000000  24312140.0  15954590.0  44.00888
 17850  2017-09-20 10:59:58.000000  24311130.0  15953650.0  44.02449
 17851  2017-09-20 10:59:59.000000  24310420.0  15952520.0  44.03894
 17852  2017-09-20 11:00:00.000000  24309710.0  15951400.0  44.05338

        P-MON-CKP  T-JUS-CKP  P-JUS-CKGL  T-JUS-CKGL       QGL  class
 0      1548856.0   20.50667  19901920.0         NaN  0.987329      3
 1      1547568.0   20.53420  19900710.0         NaN  0.954291      3
 2      1546280.0   20.56174  19899500.0         NaN  0.921254      3
 3      1544992.0   20.58928  19898290.0         NaN  0.888216      3
 4      1548477.0   20.61681  19897070.0         NaN  0.855179      3
 ...          ...        ...         ...         ...       ...    ...
 17848  2028401.0   30.54063  19734160.0         NaN  1.235948      3
 17849  2035371.0   30.54045  19733310.0         NaN  1.219558      3
 17850  2042340.0   30.54028  19733190.0         NaN  1.203168      3
 17851  2049310.0   30.54010  19733070.0         NaN  1.186778      3
 17852  2056280.0   30.53992  19732950.0         NaN  1.170388      3

 [17853 rows x 10 columns],
                         timestamp       P-PDG       P-TPT     T-TPT  \
 0      2017-09-20 11:00:53.000000  24281080.0  15840130.0  44.33733
 1      2017-09-20 11:00:54.000000  24280900.0  15838540.0  44.33535
 2      2017-09-20 11:00:55.000000  24280170.0  15835860.0  44.33221
 3      2017-09-20 11:00:56.000000  24279450.0  15833180.0  44.32907
 4      2017-09-20 11:00:57.000000  24278660.0  15831000.0  44.32576
 ...                           ...         ...         ...       ...
 17943  2017-09-20 15:59:56.000000  23858810.0  13109590.0  57.39348
 17944  2017-09-20 15:59:57.000000  23858330.0  13111330.0  57.39304
 17945  2017-09-20 15:59:58.000000  23857840.0  13113060.0  57.39259
 17946  2017-09-20 15:59:59.000000  23857000.0  13115970.0  57.39233
 17947  2017-09-20 16:00:00.000000  23856150.0  13118880.0  57.39206

        P-MON-CKP  T-JUS-CKP  P-JUS-CKGL  T-JUS-CKGL       QGL  class
 0      2447870.0   30.53049  19777800.0         NaN  1.582039      3
 1      2457946.0   30.53032  19776950.0         NaN  1.574643      3
 2      2468022.0   30.53014  19776100.0         NaN  1.567246      3
 3      2478097.0   30.52996  19775250.0         NaN  1.559850      3
 4      2488173.0   30.52978  19774410.0         NaN  1.552453      3
 ...          ...        ...         ...         ...       ...    ...
 17943  1892492.0   16.42935  19554530.0         NaN  1.418115      3
 17944  1894992.0   16.43391  19556710.0         NaN  1.445000      3
 17945  1897492.0   16.43848  19558890.0         NaN  1.471886      3
 17946  1899992.0   16.44304  19561070.0         NaN  1.498771      3
 17947  1902492.0   16.44761  19563260.0         NaN  1.525657      3

 [17948 rows x 10 columns],
                         timestamp       P-PDG       P-TPT     T-TPT  \
 0      2017-09-20 19:02:07.000000  24199820.0  14831220.0  52.46486
 1      2017-09-20 19:02:08.000000  24199890.0  14830320.0  52.46948
 2      2017-09-20 19:02:09.000000  24199260.0  14829900.0  52.47408
 3      2017-09-20 19:02:10.000000  24198620.0  14829480.0  52.47868
 4      2017-09-20 19:02:11.000000  24198260.0  14829230.0  52.48294
 ...                           ...         ...         ...       ...
 17869  2017-09-20 23:59:56.000000  23914110.0  14284660.0  55.95432
 17870  2017-09-20 23:59:57.000000  23914270.0  14285040.0  55.95553
 17871  2017-09-20 23:59:58.000000  23914430.0  14285430.0  55.95674
 17872  2017-09-20 23:59:59.000000  23914690.0  14286300.0  55.96144
 17873  2017-09-21 00:00:00.000000  23914940.0  14287180.0  55.96614

        P-MON-CKP  T-JUS-CKP  P-JUS-CKGL  T-JUS-CKGL       QGL  class
 0      6007488.0   23.03377  19967980.0         NaN  1.292964      3
 1      6004154.0   23.03449  19967130.0         NaN  1.297231      3
 2      6000821.0   23.03522  19966280.0         NaN  1.301497      3
 3      5997488.0   23.03594  19965440.0         NaN  1.305763      3
 4      5994155.0   23.03667  19964590.0         NaN  1.310029      3
 ...          ...        ...         ...         ...       ...    ...
 17869  4349686.0   24.06174  19960350.0         NaN  1.161538      3
 17870  4309232.0   24.06478  19958280.0         NaN  1.178217      3
 17871  4268777.0   24.06783  19956220.0         NaN  1.194895      3
 17872  4228323.0   24.07087  19954160.0         NaN  1.211573      3
 17873  4193550.0   24.07391  19952100.0         NaN  1.228251      3

 [17874 rows x 10 columns],
                         timestamp       P-PDG       P-TPT     T-TPT  \
 0      2017-09-21 00:00:53.000000  23901340.0  14281930.0  56.04390
 1      2017-09-21 00:00:54.000000  23901080.0  14280900.0  56.04508
 2      2017-09-21 00:00:55.000000  23899860.0  14280310.0  56.04603
 3      2017-09-21 00:00:56.000000  23898640.0  14279730.0  56.04698
 4      2017-09-21 00:00:57.000000  23897550.0  14279140.0  56.04793
 ...                           ...         ...         ...       ...
 17943  2017-09-21 04:59:56.000000  24460540.0  16221260.0  43.32579
 17944  2017-09-21 04:59:57.000000  24460780.0  16221460.0  43.32149
 17945  2017-09-21 04:59:58.000000  24461010.0  16221670.0  43.31718
 17946  2017-09-21 04:59:59.000000  24461240.0  16221170.0  43.31375
 17947  2017-09-21 05:00:00.000000  24461470.0  16220680.0  43.31031

        P-MON-CKP  T-JUS-CKP  P-JUS-CKGL  T-JUS-CKGL       QGL  class
 0      3274536.0   23.01565  19909070.0         NaN  1.087629      3
 1      3293324.0   22.99478  19908470.0         NaN  1.087306      3
 2      3295748.0   22.97391  19907860.0         NaN  1.086982      3
 3      3298172.0   22.95304  19907250.0         NaN  1.086659      3
 4      3300597.0   22.93217  19906650.0         NaN  1.084882      3
 ...          ...        ...         ...         ...       ...    ...
 17943  1553629.0   29.73230  19507380.0         NaN  1.341069      3

In [4]:
len(dflist)   #데이터셋 32개

32

In [5]:
for i in dflist:
  print(len(i))

 #32개 중 test를 위한 데이터셋 6개 랜덤으로 선택#가장 짧은 게 14385이다. 길이를 일정하게 맞추기 위해 각 데이터셋을 timestamp 10000개씩 묶어 자른 후 이어 붙일 것임.

17976
17776
17962
17927
17906
17938
14385
17959
17853
17948
17874
17948
17757
17738
17959
17927
17959
17917
17959
17832
17970
17959
17917
17863
17959
17595
17959
17755
17853
17975
17962
17885

In [6]:
#32개 중 test를 위한 데이터셋 6개 랜덤으로 선택
for i in range(6):
  print(random.randrange(32))

23
16
19
18
0
14

In [7]:
indexlist = [4,5,12,16,20,25]
testlist = []

for i in indexlist:
  d = dflist.pop(i)
  testlist.append(d)

print(len(dflist), len(testlist))

26 6

In [8]:
def dflist_to_df(dflist):
  #데이터프레임 처리: column은 필요한 4개만 남기고, 데이터셋 하나당 10000개씩 3번 묶어서 자른다.
  for i in range(len(dflist)):
    df=dflist[i].iloc[:, 2:6].dropna()
    ld=len(df)
    ld2=round((10000+ld)/2)

    n1 = pd.DataFrame(np.array(df.iloc[:10000]).flatten()).T
    n2 = pd.DataFrame(np.array(df.iloc[ld2-10000:ld2]).flatten()).T
    n3 = pd.DataFrame(np.array(df.iloc[ld-10000:ld]).flatten()).T

    df_add = pd.concat([n1,n2,n3]).reset_index(drop=True)
    if i<1:
      df_new = df_add
    else:
      df_new = pd.concat([df_new, df_add]).reset_index(drop=True)

  return df_new

In [9]:
df_train = dflist_to_df(dflist)
df_train

,0,1,2,3,4,5,6,7,8,9,...,39990,39991,39992,39993,39994,39995,39996,39997,39998,39999
0,14071870.0,117.18270,6085929.0,69.02943,14072180.0,117.18280,6087002.0,69.03323,14072490.0,117.18290,...,6166597.0,69.34961,14336980.0,117.51530,6166111.0,69.35509,14337970.0,117.51630,6165624.0,69.36057
1,14269350.0,117.04660,6046300.0,69.29147,14269020.0,117.04560,6051592.0,69.27628,14268690.0,117.04470,...,6150308.0,69.39832,14333850.0,117.36540,6150971.0,69.39989,14334020.0,117.36480,6151635.0,69.40147
2,14256370.0,117.05280,5854225.0,69.98448,14256240.0,117.05150,5855021.0,69.98587,14256120.0,117.05020,...,6025265.0,70.36140,14054970.0,116.81940,6024990.0,70.35791,14054640.0,116.81920,6024716.0,70.35443
3,13445530.0,57.04935,2210575.0,37.78826,13445580.0,57.04918,2211325.0,37.78814,13445620.0,57.04901,...,2323401.0,37.74659,13512970.0,56.82621,2324310.0,37.74609,13512880.0,56.82675,2325219.0,37.74558
4,13669780.0,56.72512,2177492.0,37.86484,13669710.0,56.72543,2176507.0,37.86469,13669630.0,56.72574,...,1977568.0,37.62981,13610810.0,56.82494,1978780.0,37.63063,13611510.0,56.82485,1979992.0,37.63145
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73,13756410.0,56.52926,2674991.0,37.21595,13756660.0,56.52940,2676961.0,37.21593,13756920.0,56.52953,...,2353704.0,37.25204,13847670.0,56.45428,2353931.0,37.25269,13848000.0,56.45374,2354158.0,37.25333
74,13890890.0,56.40011,2368704.0,37.42000,13891450.0,56.40015,2372113.0,37.42048,13892010.0,56.40020,...,2324537.0,37.78214,14035020.0,56.25173,2320673.0,37.78273,14034850.0,56.25200,2316810.0,37.78332
75,13942850.0,56.40048,2178552.0,37.35417,13943620.0,56.39977,2178704.0,37.35430,13944390.0,56.39904,...,2206280.0,37.69873,14162220.0,56.16769,2206204.0,37.69810,14162280.0,56.16755,2206128.0,37.69747
76,14164650.0,56.06713,2221658.0,37.72331,14164780.0,56.06691,2223628.0,37.72398,14164620.0,56.06655,...,2833703.0,37.21688,13932410.0,56.12121,2834764.0,37.21551,13931850.0,56.12166,2835824.0,37.21414
77,13808060.0,56.25582,2871279.0,37.07782,13807640.0,56.25615,2872036.0,37.07906,13807220.0,56.25648,...,2651052.0,35.87609,13569850.0,56.71658,2650294.0,35.87804,13569740.0,56.71595,2649537.0,35.88000

In [10]:
df_train.isnull().sum().sum()   # nan값 없음

0

In [11]:
df_train = df_train.sample(frac=1).reset_index(drop=True)   # row shuffle